<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mybatis.mappers.EmpPosSpendingMapper">

<select id="selectYearSalarySpendingList" resultType="SpendingVO">
	WITH TB_SPENDING AS (
		SELECT
			SLRY_GIVE_AMNT
			, SLRY_GIVE_YMD
		FROM
			TB_SALARY_GIVE
	)
	SELECT
		TRUNC(CAL.SPENDING_DATE, 'MM') AS SPENDING_DATE
		, SUM(NVL(S.SLRY_GIVE_AMNT,0)) AS TOTAL
	FROM
		(
		SELECT ADD_MONTHS(FIRST_DAY, LEVEL - TO_NUMBER(TO_CHAR(SYSDATE,'MM'))) AS SPENDING_DATE
		FROM(
			SELECT TRUNC(TO_DATE(#{searchYear},'YYYY')) AS FIRST_DAY FROM DUAL
		)
		CONNECT BY LEVEL <![CDATA[ <= ]]> 12
		) CAL
		LEFT JOIN TB_SPENDING S
			ON TRUNC(CAL.SPENDING_DATE, 'MM') = TRUNC(S.SLRY_GIVE_YMD, 'MM')
		GROUP BY TRUNC(CAL.SPENDING_DATE,'MM')
		ORDER BY SPENDING_DATE
</select>

<select id="selectMonthSalarySpendingList" resultType="SpendingVO">
		WITH TB_SPENDING AS (
		SELECT
			SLRY_GIVE_AMNT
			, SLRY_GIVE_YMD
		FROM
			TB_SALARY_GIVE
	)
	SELECT
		CAL.SPENDING_DATE
		, NVL(SUM(S.SLRY_GIVE_AMNT), 0) AS TOTAL
	FROM (
		SELECT TRUNC(TO_DATE(#{searchDate}, 'YYYY-MM-DD'),'MM')+LEVEL - 1 AS SPENDING_DATE
		FROM DUAL
		CONNECT BY LEVEL <![CDATA[ <= ]]> EXTRACT (DAY FROM LAST_DAY(TO_DATE(#{searchDate}, 'YYYY-MM-DD')))
	) CAL
		LEFT JOIN TB_SPENDING S
		ON TRUNC(S.SLRY_GIVE_YMD) = CAL.SPENDING_DATE
		GROUP BY SPENDING_DATE
		ORDER BY SPENDING_DATE
</select>

<select id="selectYearFxtrsSpendingList" resultType="SpendingVO">
	WITH TB_SPENDING AS(
	SELECT
		PRCHS_AMNT
		, PRCHS_YMD
	FROM
		TB_FXTRS_PRCHS_STTST
    WHERE 
        PRCHS_SE = 'Y' 
	)
	SELECT
		TRUNC(CAL.SPENDING_DATE,'MM') AS SPENDING_DATE
		, SUM(NVL(S.PRCHS_AMNT,0)) AS TOTAL
	FROM
		(
		SELECT ADD_MONTHS(FIRST_DAY, LEVEL - TO_NUMBER(TO_CHAR(SYSDATE,'MM'))) AS SPENDING_DATE
		FROM(
			SELECT TRUNC(TO_DATE(#{searchYear}, 'YYYY')) AS FIRST_DAY FROM DUAL
		)
		CONNECT BY LEVEL <![CDATA[ <= ]]> 12
		) CAL
		LEFT JOIN TB_SPENDING S
		ON TRUNC(CAL.SPENDING_DATE,'MM') = TRUNC(S.PRCHS_YMD,'MM')
		GROUP BY TRUNC (CAL.SPENDING_DATE, 'MM')
		ORDER BY SPENDING_DATE
</select>

<select id="selectMonthFxtrsSpendingList" resultType="SpendingVO">
	WITH TB_SPENDING AS (
	SELECT 
		PRCHS_AMNT
		, PRCHS_YMD
	FROM
		TB_FXTRS_PRCHS_STTST
	WHERE 
        PRCHS_SE = 'Y' 
	)
	SELECT
		CAL.SPENDING_DATE
		, NVL(SUM(S.PRCHS_AMNT),0) AS TOTAL
		FROM (
			SELECT TRUNC(TO_DATE(#{searchDate}, 'YYYY-MM-DD'),'MM') + LEVEL - 1 AS SPENDING_DATE
			FROM DUAL
			CONNECT BY LEVEL <![CDATA[ <= ]]>  EXTRACT(DAY FROM LAST_DAY(TO_DATE(#{searchDate}, 'YYYY-MM-DD')))
		) CAL
		LEFT JOIN TB_SPENDING S
		ON TRUNC(S.PRCHS_YMD) = CAL.SPENDING_DATE
		GROUP BY SPENDING_DATE
		ORDER BY SPENDING_DATE

</select>

<select id="selectYearMainSpendingList" resultType="SpendingVO">
	WITH TB_SPENDING AS  (
		SELECT
			COST_MNTN_AMNT
			, COST_MNTN_YMD
		FROM
			COST_MAINTENANCE
	)
	SELECT
		TRUNC(CAL.SPENDING_DATE, 'MM') AS SPENDING_DATE
		, SUM(NVL(S.COST_MNTN_AMNT,0)) AS TOTAL
	FROM
		(
		SELECT ADD_MONTHS(FIRST_DAY, LEVEL - TO_NUMBER(TO_CHAR(SYSDATE,'MM'))) AS SPENDING_DATE
		FROM (
			SELECT TRUNC(TO_DATE(#{searchYear}, 'YYYY')) AS FIRST_DAY FROM DUAL
		)
		CONNECT BY LEVEL <![CDATA[ <= ]]> 12
		)CAL
		LEFT JOIN TB_SPENDING S
			ON TRUNC(CAL.SPENDING_DATE, 'MM') = TRUNC(S.COST_MNTN_YMD, 'MM')
		GROUP BY TRUNC(CAL.SPENDING_DATE,'MM')
		ORDER BY SPENDING_DATE
</select>

<select id="selectMonthMainSpendingList" resultType="SpendingVO">
	WITH TB_SPENDING AS (
		SELECT
			COST_MNTN_AMNT
			, COST_MNTN_YMD
		FROM
			COST_MAINTENANCE
	)
	SELECT 
		CAL.SPENDING_DATE
		, NVL(SUM(S.COST_MNTN_AMNT),0) AS TOTAL
	FROM (
		SELECT TRUNC(TO_DATE(#{searchDate},'YYYY-MM-DD'),'MM') + LEVEL -1 AS SPENDING_DATE
		FROM DUAL
		CONNECT BY LEVEL <![CDATA[ <= ]]> EXTRACT(DAY FROM  LAST_DAY(TO_DATE(#{searchDate},'YYYY-MM-DD')))
	) CAL
	LEFT JOIN TB_SPENDING S
	ON TRUNC(S.COST_MNTN_YMD) = CAL.SPENDING_DATE
	GROUP BY SPENDING_DATE
	ORDER BY SPENDING_DATE
</select>
























</mapper>