<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mybatis.mappers.EmpRsvtAddMapper">
	
	<resultMap type="RoomVO" id="rsvtAddMap" autoMapping="true">
		<id property="rmNo" column="RM_NO"/>
		<association property="roomType" javaType="RoomTypeVO" autoMapping="true">
			<id property="rmtTypeCd" column="RMT_TYPE_CD"/>	
		</association>
		
	</resultMap>

	<select id="selectList" resultMap="rsvtAddMap" parameterType="String">
		SELECT 
		    RM_NO
		    , RMT_TYPE_CD
		    , RM_AVLBL_YN
		    , RM_AVLBL_DETAILS
		    , RM_CLEAN
		    , RMT_AMNT
		FROM TB_ROOM
		    INNER JOIN TB_ROOM_TYPE USING(RMT_TYPE_CD)
		WHERE 
			RMT_TYPE_CD = #{rmType}
	</select>
	
	<select id="selectRsvtCnt" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM 
			TB_RSVT_DETAILS 
			INNER JOIN TB_RSVT USING(RSVT_NO)
		WHERE 
			<![CDATA[
			TO_DATE(RSVT_CHECKIN_YMD) <= TRUNC(SYSDATE) 
			]]> 
		    AND RSVT_SE = '예약중'
            AND RMT_TYPE_CD = #{rmtTypeCd}
	</select>
	
	
	<select id="selectCstmrNo" resultType="String">
 		SELECT 
			'W' || TO_CHAR(SYSDATE, 'YY') || LPAD(COALESCE(MAX(TO_NUMBER(SUBSTR(CST_NO, 4))), 0) + 1, 5, 0) AS CST_NO
		FROM 
			TB_CSTMR
		WHERE 
			CST_NO LIKE ('W%')
		    AND SUBSTR(CST_NO, 2, 2) = TO_CHAR(SYSDATE, 'YY')
	</select>
	
	<insert id="insertCstmr" parameterType="CstmrVO">
		INSERT INTO TB_CSTMR (
		    CST_NO
		    , CST_CLSFC_CD
		    , CST_NM
		    , CST_HP
		) VALUES (
		    #{cstNo}
		  , 'W'
		  , #{cstNm}
		  , #{cstHp}
	    )
		
	</insert>
	
	<select id="selectChkinNo" resultType="String">
		SELECT 
		    'CI' || TO_CHAR(SYSDATE, 'YYMM') || LPAD(COALESCE(MAX(TO_NUMBER(SUBSTR(CHKIN_NO, 7))), 0) + 1, 4, '0') AS CHKIN_NO
		FROM 
		    TB_CHKIN
		WHERE 
		    SUBSTR(CHKIN_NO, 3, 2) = TO_CHAR(SYSDATE, 'YY') 
		    AND SUBSTR(CHKIN_NO, 5, 2) = TO_CHAR(SYSDATE, 'MM')
	</select>

	<select id="selectSetleNo">
		SELECT 
			'WALK' || TO_CHAR(SYSDATE, 'YYMM') || LPAD(COALESCE(MAX(TO_NUMBER(SUBSTR(SETLE_NO, 9))), 0) + 1, 4, 0) AS SETLE_NO
		FROM 
			TB_SETLE
		WHERE 
			SETLE_NO LIKE ('WALK%')
			AND SUBSTR(SETLE_NO, 5, 2) = TO_CHAR(SYSDATE, 'YY') 
			AND SUBSTR(SETLE_NO, 7, 2) = TO_CHAR(SYSDATE, 'MM')
	</select>	
	
	<insert id="insertSetle" parameterType="Map">
		INSERT INTO TB_SETLE (
		    SETLE_NO
		    , CST_NO
		    , SETLE_YMD
		    , SETLE_AMNT
		    ,SETLE_STTUS_CD
		) VALUES (
		    #{setleNo}
		  , #{cstNo}
		  , SYSDATE
		  , #{setleAmnt}
		  , 'Y'
		)
	</insert>
	
	<select id="selectCarNo" parameterType="String" resultType="String">
		SELECT 
			CAR_NO
		FROM 
			TB_CHKIN 
		    INNER JOIN TB_CAR ON TB_CHKIN.CI_CAR_KIND = TB_CAR.CAR_NO
		WHERE 
			CAR_NM = #{carNm}
		GROUP BY 
			CAR_NO

	</select>
	
	<insert id="insertChkin" parameterType="Map">
		INSERT INTO TB_CHKIN (
		    CHKIN_NO
		    , RM_NO
		    , CST_NO
		    , CI_DT
		    , CI_CAR_NO
		    , CI_COWILL_YMD
		    , CI_TOTAL_NMPR
		    , CI_ADULT_CNT
		    , CI_CHILD_CNT
		    , CI_SETLE_NO
		    , CI_CAR_KIND
		    , CI_SETLE_YN
		    , CI_SE_CD
		) VALUES (
		    #{chkinNo}
		  , #{rmNo}
		  , #{cstNo}
		  , #{ciDt}
		  , #{ciCarNo}
		  , #{ciCowillYmd}
		  , #{ciTotalNmpr}
		  , #{ciAultCnt}
		  , #{cichildCnt}
		  , #{setleNo}
		  , #{carKindNo}
		  , 'Y'
		  , 'W'
		)
	</insert>
	
	<update id="updateRoom" parameterType="String">
		UPDATE 
			TB_ROOM
		SET
		    RM_AVLBL_YN = 'N',
		    RM_AVLBL_DETAILS = '투숙중'
		WHERE
		    RM_NO = #{rmNo}
	</update>
	
	<insert id="inserChkout" parameterType="String">
		INSERT INTO TB_CHKOUT (
		    CHKIN_NO
		    , CO_EXCCLC_YN
		    , CO_EXCCLC_AMNT
		) VALUES (
		    #{chkinNo}
		  , 'N'
		  , 0
		)
	</insert>
	
	<select id="selectCarYN" resultType="int" parameterType="String">
	    SELECT 
	        COUNT(*)
	    FROM 
	        TB_PARKING
	    WHERE 
	        PKG_CAR_NO = #{carNo}
	        <![CDATA[
	        AND PKG_ENTVHCL_TIME <= SYSDATE
	        ]]>
	        AND PKG_LVVHCL_TIME IS NULL
	</select>
	
	<update id="updateParking" parameterType="String">
		UPDATE 
			TB_PARKING 
		SET 
			PKG_AMNT = 0
			, PKG_STAY_YN = 'Y'
		WHERE 
			PKG_CAR_NO = #{carNo}
	</update>

</mapper>