<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mybatis.mappers.MberNoticeMapper">

<sql id="searchFrag">
	<trim prefix="WHERE" suffixOverrides="AND">
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(simpleCondition.searchWord)">
			<choose>
				<when test="simpleCondition.searchType eq 'empNm'">
					INSTR(EMP_NM, #{simpleCondition.searchWord}) > 0
				</when>
				<when test="simpleCondition.searchType eq 'mberNtNm'">
					INSTR(MBER_NT_NM, #{simpleCondition.searchWord}) > 0
				</when>
				<when test="simpleCondition.searchType eq 'mberNtCtgry'">
					INSTR(MBER_NT_CTGRY, #{simpleCondition.searchWord}) > 0
				</when>
				<when test="simpleCondition.searchType eq 'mberNtCn'">
					INSTR(MBER_NT_CN, #{simpleCondition.searchWord}) > 0
				</when>
				<otherwise>
					INSTR(EMP_NM, #{simpleCondition.searchWord}) > 0
					OR
					INSTR(MBER_NT_NM, #{simpleCondition.searchWord}) > 0
					OR
					INSTR(MBER_NT_CTGRY, #{simpleCondition.searchWord}) > 0
					OR
					INSTR(MBER_NT_CN, #{simpleCondition.searchWord}) > 0
				</otherwise>
			</choose>
		</if>
	</trim>
</sql>

	<select id="selectTotalRecord" parameterType="PaginationInfo" resultType="int">
		SELECT COUNT(*)
		FROM 
		TB_MBER_NOTICE
	</select>

	<select id="selectList" parameterType="PaginationInfo" resultType="MberNoticeVO">
		WITH RNUMNOTI AS (
		    SELECT 
		        ROWNUM RNUM, A.*
		    FROM(
		        SELECT
		            MBER_NT_NO
		            , MBER_NT_NM
		            , EMP_NO
		            , EMP_NM
		            , MBER_NT_YMD
		            , MBER_NT_CNT
		            , MBER_NT_CN
		            , MBER_NT_CTGRY
		        FROM
		            TB_MBER_NOTICE
		            INNER JOIN TB_EMP USING (EMP_NO)
		        <include refid="searchFrag" />
		        ORDER BY MBER_NT_NO DESC
		    ) A
		)
		SELECT *
		FROM RNUMNOTI
		<![CDATA[
			WHERE RNUM >=#{startRow} AND RNUM <= #{endRow}
		]]>
	</select>

	<select id="select" parameterType="string" resultType="MberNoticeVO">
		SELECT
			MBER_NT_NO
		    , MBER_NT_NM
		    , MBER_NT_YMD
		    , MBER_NT_CNT
		    , MBER_NT_CN
            , MBER_NT_CTGRY		    
		FROM TB_MBER_NOTICE
		WHERE MBER_NT_NO = #{mberNtNo}
	</select>
	
	<insert id="insert" parameterType="MberNoticeVO">
	<selectKey order="BEFORE" resultType="string" keyProperty="mberNtNo">
		SELECT 
			'MNT'|| LPAD(SUBSTR(MAX(MBER_NT_NO), -4) +1, 4, 0) 
		FROM 
			TB_MBER_NOTICE
	</selectKey>
		INSERT INTO TB_MBER_NOTICE (
		    MBER_NT_NO
		    , EMP_NO
		    , MBER_NT_NM
		    , MBER_NT_YMD
		    , MBER_NT_CNT
		    , MBER_NT_CN
		    , MBER_NT_CTGRY
		) VALUES (
			#{mberNtNo}
			, #{empNo}
			, #{mberNtNm}
			, SYSDATE
			, 0
			, #{mberNtCn}
			, #{mberNtCtgry}
		)
	</insert>
	
	<update id="noticeCount" parameterType="string" >
		UPDATE 
		    TB_MBER_NOTICE
		SET
		    MBER_NT_CNT = MBER_NT_CNT + 1
		WHERE
		    MBER_NT_NO = #{mberNtNo}
	</update>
	
	<update id="update" parameterType="MberNoticeVO">
		UPDATE
			TB_MBER_NOTICE
		SET
			MBER_NT_NM = #{mberNtNm}
			, MBER_NT_CN = #{mberNtCn}
			, MBER_NT_CTGRY = #{mberNtCtgry}
		WHERE
			MBER_NT_NO = #{mberNtNo}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM TB_MBER_NOTICE
		WHERE
	        MBER_NT_NO = #{mberNtNo}
	</delete>

</mapper>