@charset "UTF-8";


.sbrsLiar_main{
	position: relative;
	min-height: 360rem;
    overflow: hidden;
}
.sbrs_wrap{
	max-width: 100rem;
    margin: 0 auto;
    margin-bottom :200px;
}

.sbrsList_content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}


/* 부대시설 이미지 크기  */
.carousel-inner{
	width : 680px;
	height : 390px; 
}
.carousel-item img {
    max-width: 100%; /* 최대 너비 설정 */
    height: auto; /* 높이 자동으로 조정되도록 설정 */
}


.main_left{
	position : relative;
}
.main_right{
	position : relative;
	margin-left : 30px;
}


.sbrsList_content {
	position : absolute;
}

.main_right {
	margin-left: auto; /* 두 요소 사이에 간격을 주기 위한 여백 설정 */
}

.sbrsList_inner {
	margin-top : 10px;
	margin-bottom : 5px;
}

.sbrsList_inner > span {
	margin-right : 17px;
}

h2.sbrsList_title {
	text-align: left; /* h2 태그의 텍스트를 왼쪽으로 정렬 */
}

.sbrsList_ko {
	display: inline-block; /* 인라인 블록 요소로 설정하여 다른 요소와 옆으로 정렬 */
	text-align: left; /* 텍스트를 왼쪽으로 정렬 */
}

.sbrsList_time {
/* 	position : absolute; */
    right: 0;
    margin-top: 10px;
    padding: 10px;
}
.sbrsList_inner-en{
	font-size: 17px;
}
.sbrsList_inner-floor{
	font-size: 17px;
}
.sbrsList_title{
	font-size: 37px;
}
.sbrsList_time{
	font-size: 17px;
}