@charset "UTF-8";


.col-md-6{
	text-align: right;
}
.mbrsh-card{
	width:354px;
	height:204px;
	border-radius:12px;
}
.card-tax{
	margin-left:5px;
	margin-right:24px
}
.second-mbrsh{
	text-align:right;
}

.second-card{
	text-align:justify;
}
.benetfitPrev {
	margin:30px 80px;
    display: flex;
}

.benetfitPrevList {
    width: 200px;
    margin: 25px 25px 25px 25px;
    padding: 17px 0 29px;
    border-top: 1px solid #bcbcbc;
}

.benetfitPrevList .tit {
	margin-bottom:10px;
    display: block;
    color: #eee;
    font: 400 18px notokrL;
    letter-spacing: -.075em;
}

.benetfitPrevList .tax {
    display: block;
    margin-bottom: 11px;
    color: #fff;
    font: 500 36px playfair,gothamB,notokrR;
    letter-spacing: .075em;
    font-feature-settings: 'lnum','pnum';
}

.benetfitPrevList .txt {
    display: block;
    color: #aaa;
    font: 400 16px gothamL,notokrL;
}

.mbsGrdNm {
    color: #fff;
    font: 500 28px playfair,gothamB,notokrR;
	
}

.mbsGrdAmnt {
    color: #fff;
    font: 500 24px playfair,gothamB,notokrR;
}

button span:hover {
	color:white;
}

.layerPop .layerCont {
    position: fixed;
    padding: 43px 70px 70px;
    background: #fff;
    z-index: 999999;
}

.layerCont .membershipConsult {
    position: relative;
    width: 940px;
}

.compTit {
    font: 500 34px/1.32 gothamB,notokrR;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: -.025em;
    text-transform: uppercase;
}

.layerCont .scrollWrap {
    margin: 0;
    padding: 0;
    height: 465px;
    padding-right: 8px !important;
    overflow-y: auto;
}

.layerPop .btnClose {
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 50px;
    height: 50px;
    z-index: 999;
}

.dimmed {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 999998;
}

.layerCont .membershipInfoArea {
    width: 800px;
    border-top: 1px solid #000;
}

.layerCont .membershipInfo {
    position: relative;
    padding: 40px 20px;
    border-bottom: 1px solid #ccc;
}

.layerCont .membershipInfo .tit {
    margin-bottom: 10px;
    display: block;
    font: 500 24px notokrM;
    letter-spacing: -.01em;
}

.layerCont .membershipInfo .txt {
    display: block;
    color: #666;
    font: 400 16px notokrL;
    letter-spacing: -.01em;
}

.layerCont .membershipInfo .btnSC {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.active {
    background: #000 !important;
    color: #fff !important;
}

.active:hover {
    color: #fff !important;
}

.active:before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    background: #fff;
    width: 130%;
    height: 100%;
    -webkit-transform: skewX(-16deg);
    -moz-transform: skewX(-16deg);
    -o-transform: skewX(-16deg);
    -ms-transform: skewX(-16deg);
    transform: skewX(-16deg);
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.btnM {
    min-width: 162px;
    height: 50px;
    padding: 0 25px;
    line-height: 48px;
    font-size: 17px;
    letter-spacing: -.01em;
}

.btnSC {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #000;
    background: #fff;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
    font-family: gothamL, notokrL;
}